          @media (max-width: 600px) {
             ul li {
               display: block;
               float: none;
               text-align: center;
             }

             /* ul {
               display: none;
             } */

           }

           ul {
               list-style-type: none;
               margin: 0;
               padding: 0;
               overflow: hidden;
               background-color: #000000;
               width: auto;
           }

           li {
               float: left;
                margin-top: 1%;

           }

           li a {
               display: block;
               color: white;
               text-align: center;
               padding: 14px 16px;
               text-decoration: none;



           }

           li a:hover {
               background-color: #222222;


           }
           .amarillo a:hover{
             background-color: #FFC107;

           }
        .colorBlue a{
          color:#2196F3;
        }


        /* //////////////////////////Foter\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
        .ImgLogoBlak{
          border-bottom: solid 2px;
          padding-bottom: 10px;
        }
        .row{
             margin-left: 15%;
             display: inline-flex;
             flex-wrap: wrap;
             text-align: start;


        }

        .terms-page {
          text-align: center;
          font-size: 15px
        }

        footer.footer .row {
          width: 75%;
          text-decoration: none;
          margin: 0 auto;
          display: flex;
        }

        footer.footer {
            width: 100%;
        }

        footer.footer .row .columna {
            width: 33%;
            height: auto;
            line-height: 19px;

        }

        footer.footer .row .columna a {
            text-decoration: none;
        }

        footer.footer .row .columna.right {
          text-align: right;
        }
        .container-footer.top {
            text-align: center;
            margin: 10px 0;
            padding: 10px;
        }
      
      .fab{
        text-align: justify;

        color: #222222;
        top:10px;
        margin: 5px;

      }
      h3{
        margin-left: 40px;
        color: #F44336;
        margin-left: auto;

             }




		 @media (max-width: 600px) {
             .row{
               display: block;
               width: 100%;
               text-align: center;
             }
           }

           /* ////////////////////////////////// */

	.row{
    		width: 90%;
        margin-left: 5%;
        text-decoration:none;

    	}
      .content{
        margin:10px;
      }
          	.producto{
          		width: 30%;
          		max-height:30%;
              padding:10%;
              display: inline-block;
              padding: 1%;
              border: solid 1px #999999;
              margin:1.5%;


    	}
    	.imgProducto{
    		width: 100%;
    		height: unset;
    	}

           /* //////////////////////////////header//////////////////////////777777777777777777777777777 */
           .background-img {

         		  background-image: url("./images/landing-splash-bg.png");
              background-size: cover;
              background-position:  center center;
              background-repeat: no-repeat;

         		  text-align: center;
         			width: 100%;
         			height: auto;
         		}
         		.header{
         				width: 100%;
         				height: 50vh;
         				padding: 75px 0;
         				color: #FFF;
         				text-shadow: 1px 1px 1px #333;


         		}
/* ////////////////////componteAllproducts//////////////////// */
.item{
  margin-top:4%;
  /* justify-content:left; */


}
.btn-red{
  background-color: #FFFFFF;
  padding: 1%;
  border: 2px solid #F44336;
  margin-right: 2%;
  margin-left: 77%;
  flex-wrap: wrap-reverse;
  /* margin-left: 70%; */

}
.btn-gris{
  background-color: #FFFFFF;
  padding: 1.1%;
  border: 2px solid #999999;
  flex-wrap: wrap-reverse;

}
.align{
  margin-right: 7%;
  text-align: right;
 margin-top: 1%;
}
.yellow{
  color: #FFC107;
  font-size:22px;
}
.tituloAll{
  margin-top: 3%;
  margin-left: 2%;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}
.subAll{
  margin-left:2%;
  font-family: 'Source Sans Pro', sans-serif;
}



.Seating-img{
  background-image: url(./images/category-seating.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 80px;
  color: white;
}

.Tables-img{
  background-image: url(./images/category-tables.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 80px;
  color: white;
}

.Desks-img{
  background-image: url(./images/category-desks.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 80px;
  color: white;
}

.Storage-img{
  background-image: url(./images/category-storage.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 80px;
  color: white;
}

.Bedroom-img{
  background-image: url(./images/category-bedroom.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 80px;
  color: white;
}

.Miscellaneous-img{
  background-image: url(./images/category-miscellaneous.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 80px;
  color: white;
}

/**************** MAIN *****************/
.page-wrapper {
  padding: 15px;
}

/********** Browse by CATEGORY *********/
p.category-p {
  width: 20%;
  padding: 15px 0;
  display: inline-block;
  margin: 20px;
  border: 1px solid #22b5d6;
}

.containert.content {
  margin: 20px 0;
}

.cateogories-buttons {
  text-align: center;
  margin: 20px 0;
}
* {
  box-sizing: border-box;
}
a.button-categorory {
  color: #22b5d6;
  text-decoration: none;
}
.container-title h3 {
  color: #777;
  font-weight: normal;
}